{% load static%}

<!DOCTYPE>
<html>
    <head>
        <title>Alcher WebOps</title>
        <link rel="stylesheet" href="{% static 'pages/login_page_css.css' %}">
        <div id="header" style="display:flex;">
            <img src="{% static 'pages/alcher.png' %}">
            <h1 style="font-weight:100">Alcheringa <span style="color:orangered;font-weight: 100;">Connect</span></h1>

        </div>
        {% if messages%}
        {%for message in messages%}
            <div style="background-color:rgb(244, 109, 60);width:400px;height: 30px;">
                
                <p style="font-size: small;color:white;font-family:sans-serif;padding: 2%;">{{message}}</p>
            </div>
        {%endfor%}
    {% endif%}
        
        

    </head>
    <body>
        
        <div style="display:flex;">
        <p style="color:grey;font-family:Comic Sans MS;font-size:24;width:45%;margin-left:5%;font-weight: 100;">Alcheringa connect lets you associate with the people in your life</p>
        <div class="box" style="width:30%;margin-left:20%;margin-top:-5%;border-radius: 10;border-style: solid;border-color:grey;border-width: 0.5px;border-radius: 15px;height: 400px;background-color: white;">
            <div class="redbox" style="width100%;height:130;border-top-left-radius: 15px;border-top-right-radius: 15px;">
                <h3 style="position:absolute;margin-top:3%;color:white;font-family:Comic Sans MS;font-weight:100;font-size:35px;margin-left:2%">Login</h3>
                <a href="register/" style="position:absolute;margin-top:9%;margin-left:17%;color:white;cursor:pointer;">Dont have an account?</a>
            </div>
            <form method="POST" style="font-family:sans-serif;">
                {% csrf_token %}
                {{form.as_p}}
            <button type="submit" style="background-color: orangered;font-family: sans-serif;border-style: none;color:white;height: 30px;width: 80px;margin-left: 2%;border-radius: 5px;cursor: pointer;">Sign In</button>

            </form>
            
        </div>
        </div>
    </body>
</html>